// Fonts
$roboto-font-path: "../../../../../vendor/roboto-fontface/fonts" !default;
@import "../../../../../vendor/roboto-fontface/scss/roboto/sass/roboto-fontface";

:root {
  --alldreams-font-family-body: "Roboto", sans-serif;
  --alldreams-font-family-headings: "Roboto", sans-serif;
  --alldreams-font-weight-headings: 700;
  --alldreams-font-weight-normal: 400;
}
